extends _layout

block content
  h1 hello from page 2
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusantium, nobis eum nihil tempora laudantium iste ab deleniti ad pariatur ea consequuntur esse sequi nulla! Incidunt distinctio reiciendis ipsum nobis.
  a(href="./index.pug") to home