extends _layout.pug

block content
  h1 hello world
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde sequi quis quas laudantium perferendis odio numquam cumque, doloremque voluptates est, mollitia dicta omnis quae inventore harum? Eaque esse accusamus ipsum!